<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html class="no-js" lang="en"><![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% assign tab_index = 0 %}

  {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
    <title>{{ "general.404.title" | t }} | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% include 'favicon' %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% include 'social-meta' %}

  {% include 'scripts-styles-header' %}
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  
  {{ 'custom.css' | asset_url | stylesheet_tag }}
</head>

{% include 'additional-classes' %}
<body class="{{ bodyClasses }}">

  {% section 'general-header' %}

  <main class="main-content">

    {% unless template contains 'index' or fullBleed %}
      {% unless template contains 'slideshow' and settings.product-slideshow-layout == 'full-width' %}
        {% include 'breadcrumbs' %}
      {% endunless %}
    {% endunless %}

    {{ content_for_layout }}
  </main>

  {% section 'general-newsletter' %}

  {% section 'general-social-feeds' %}

  {% section 'general-footer' %}

  {% include 'scripts-styles-footer' %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    {{ 'ajax-cart.js' | asset_url | script_tag }}
   {% include 'ajax-cart' %}
    <script>
      jQuery(function($) {
        ajaxCart.init({
         formSelector       : 'form[action^="/cart/add"]',
      cartContainer      : '#CartContainer',
      addToCartSelector  : 'input[type="submit"]',
      cartCountSelector  : '#cartCount',
      cartCostSelector   : null,
          
          moneyFormat: {{ shop.money_format | json }}
        });
          Shopify.onItemAdded = function(cart) {
            jQuery.getJSON('/cart.js', function(cart) {
          alert(cart.item_count);
                $('#cartCount').html(cart.item_count);
            });
        };
      });
      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
      
    </script>
  <script>
// jQuery(document).ready(function() {
//   jQuery('.drawer').drawer();
// });
</script>
 

{% include 'swymSnippet' %}

</body>
</html>
